{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Clientes {% endblock %}</h1>
    <a href="{{url_for('novo_cliente')}}" class="btn btn-primary">Novo Cliente</a>
    {% for cliente in clientes %}
        <a href="{{ url_for('cliente', cliente_id=cliente['id']) }}">
            <h2>{{ cliente['nome'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ cliente['telefone'] }}</span>
        <span class="badge badge-primary">{{ cliente['cidade'] }}</span>
        
        <hr>
    {% endfor %}
{% endblock %}