{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Adicionar uma Nova Venda {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="cliente">Nome do Cliente</label>
        <input type="text" name="cliente"
               placeholder="Cliente" class="form-control"
               value="{{ request.form['cliente'] }}"></input>
    </div>

    <div class="form-group">
        <label for="produto">Nome do Produto</label>
        <input type="text" name="produto" 
               placeholder="Produto" class="form-control"
               value="{{ request.form['produto'] }}"></input>
    </div>

    <div class="form-group">
        <label for="qtde">Quantidade</label>
        <input type="number" name="qtde" 
               placeholder="Quantidade" class="form-control"
               value="{{ request.form['qtde'] }}"></input>
    </div>

    <div class="form-group">
        <label for="valor_total">Valor Total</label>
        <input type="text" name="valor_total" 
               placeholder="Valor" class="form-control"
               value="{{ request.form['valor_total'] }}"></input>
    </div>

    <div class="form-group">
        <label for="pago">Já foi pago?</label>
        <input type="text" name="pago" 
               placeholder="sim ou não" class="form-control"
               value="{{ request.form['pago'] }}"></input>
    </div>

    <div class="form-group">
        <label for="entregue">Já foi entregue?</label>
        <input type="text" name="entregue" 
               placeholder="sim ou não" class="form-control"
               value="{{ request.form['entregue'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
{% endblock %}